{% extends "base_generic.html" %}

{% block content %}

    

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        
        <div id="center">
            <p id="loginTitle">Login</p>
            <hr>
            <div id="loginDesc">Welcome Back!</div>
            <p id="loginDesc">Don't have an account? <a href="{% url 'signup' %}">Register Here</a>!</p>
            <div id="topBlock">
                <div id="labels">Username:</div>
        
                <div>{{ form.username }}</div>
        
                <div id="labels">Password:</div>
        
                <div>{{ form.password }}</div>
            </div>

            {# Assumes you setup the password_reset view in your URLconf #}
            <p id="loginDesc">Did you <a href="{% url 'password_reset' %}">forget your password</a>?</p>

            {% if form.errors %}
            <p id="loginDesc">Your username and password didn't match. Please try again.</p>
        {% endif %}

            <input onmouseover="changeLoginButton()" onmouseout="resetLoginButton()" type = "submit" value="Continue" id="loginSubmit"/>
        </form>
    
        
    
        <!-- {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
    
            {% endif %}
        {% endif %} -->
    
        

        </div>
        
{% endblock %}

{% block title %}
    <title>Nowledge | Login</title>
{% endblock %}