<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}{% endblock %}
    

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Add additional CSS in static file-->
    {% load static %}
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'media/book.png' %}"/>
    <script src="{% static 'js/sidebar_function.js' %}"></script>
    
    {% include 'session_security/all.html' %}
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {% block sidebar %}
                <br>
                <img src="{% static 'media/bookIcon.png' %}" id="icon">
                <p id="title">NOWLEDGE LIBRARY</p>
                <hr>
                <br>
                <ul class="sidebar-nav">
                   
                    <li id="tabsHome"><a onmouseover="changeColorsHome()" onmouseout="resetColorsHome()" href="{% url 'index' %}" id="sideBarButtonHome">Home</a></li>
                    <li id="tabsBooks"><a onmouseover="changeColorsBooks()" onmouseout="resetColorsBooks()" href="{% url 'books' %}" id="sideBarButtonBooks">All Books</a></li>
                    <!-- <li id="tabs"><a href="{% url 'authors' %}" id="sideBarButton">All Authors</a></li> -->
                    <br>
                    {% if user.is_authenticated %}
                    <li id="tabsAcc"><a onmouseover="changeColorsAcc()" onmouseout="resetColorsAcc()" href="{% url 'user_profile' %}" id="sideBarButtonAcc">My Account</a></li>
                        <!-- <li>User: {{ user.get_username }}</li>
                        <li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
                        <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li> -->
                    {% else %}
                        <li id="tabsLogin"><a onmouseover="changeColorsLogin()" onmouseout="resetColorsLogin()" href="{% url 'login' %}?next={{request.path}}" id="sideBarButtonLogin">Login</a></li>
                    {% endif %}
                    <br>
                    <hr>
                    <br>
                    {% if perms.catalog.can_mark_returned %}
                        <li id="titleStaff">Staff:</li>
                        <li id="tabsBorrowed"><a onmouseover="changeColorsBorrowed()" onmouseout="resetColorsBorrowed()" href="{% url 'all-borrowed' %}" id="sideBarButtonBorrowed">All Borrowed</a></li>
                        <li id="tabsModify"><a onmouseover="changeColorsModify()" onmouseout="resetColorsModify()" href="{% url 'book_modify' %}" id="sideBarButtonModify">Modify Books</a></li>
                    {% endif %}
                </ul>
                {% endblock %}
            </div>
            <div class="col-sm-10">

                {% block content %}{% endblock %}

                {% block pagination %}
                {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
                {% endif %}
                {% endblock %}

            </div>

        </div>
    </div>

    

</body>

</html>