{% extends "base_generic.html" %}

{% block content %}
<div id="centerReset">
    <h1>Reset Password</h1>
<br>
<br>
    <p id="signUpLabels"><strong>Security Question: <br>{{ user.profile.get_question_display }}</strong></p>

    <form method="post">
        {% csrf_token %}
        <p>
            <div id="signUpLabels">{{ form.answer.label_tag }}</div>
            {{ form.answer }}
            <br>
            {{ form.answer.errors }}
        </p>
        <br>
        <input onmouseover="changeResetSubmitButton()" onmouseout="resetResetSubmitButton()" id="resetSubmit" type="submit" value="Submit">
        <a onmouseover="changeSignUpBackButton()" onmouseout="resetSignUpBackButton()" href="{% url 'login' %}" id="signUpBack">Cancel</a>
    </form>
{% endblock %}

</div>
