{% extends "base_generic.html" %}

{% block content %}
<div id="centerReset">
    <h1>New Password</h1>
    <p id="signUpLabels">Please enter (and confirm) your new password.</p>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            <div id="signUpLabels">{{ field.label_tag }}</div>
            {{ field }}
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
    <br>
    <input onmouseover="changeResetSubmitButton()" onmouseout="resetResetSubmitButton()" id="resetSubmit" type="submit" value="Submit">
    </form>
</div>
        
{% endblock %}