{% extends "base_generic.html" %}

{% block content %}
<div id="centerReset">
    <h1>Verify Email<br><br></h1>
    
    <h5>Please enter email address: </h5>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field }}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
    <br>
        <input onmouseover="changeResetSubmitButton()" onmouseout="resetResetSubmitButton()" type="submit" value="Submit" id="resetSubmit">
        <a onmouseover="changeSignUpBackButton()" onmouseout="resetSignUpBackButton()" href="{% url 'login' %}" id="signUpBack">Back</a>
    </form>
</div>
    
{% endblock %}