{% extends "base_generic.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <div id="centerSignUp">
        
    <h2 id="signUpTitle">Sign up Form</h2>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <div id="signUpLabels">{{ form.username.label_tag }}</div>
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                    <div>
                        <div id="signUpLabels">{{ form.first_name.label_tag }}</div>
                        {{ form.first_name }}
                        {{ form.first_name.errors }}
                    </div>
                    <div>
                        <div id="signUpLabels">{{ form.password1.label_tag }}</div>
                        <small>{{ form.password1.help_text }}</small>
                        {{ form.password1 }}
                        {{ form.password1.errors }}
                    </div>
                    <div>
                        <div id="signUpLabels">{{ form.password2.label_tag }}</div>
                        <small>{{ form.password2.help_text }}</small>
                        <br>
                        {{ form.password2 }}
                        {{ form.password2.errors }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <div id="signUpLabels">{{ form.email.label_tag }}</div>
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div>
                        <div id="signUpLabels">{{ form.last_name.label_tag }}</div>
                        {{ form.last_name }}
                        {{ form.last_name.errors }}
                    </div>
                    <div>
                        <div id="signUpLabels">{{ form.idno.label_tag }}</div>
                        {{ form.idno }}
                        {{ form.idno.errors }}
                    </div>
                    <div>
                        <div id="signUpLabels">{{ form.question.label_tag }}</div>
                        {{ form.question }}
                        {{ form.question.errors }}
                    </div>
                    <div>
                        <div id="signUpLabels">{{ form.answer.label_tag }}</div>
                        {{ form.answer }}
                        {{ form.answer.errors }}
                    </div>
                </div>
            </div>
        </div>
        <button onmouseover="changeLoginButton()" onmouseout="resetLoginButton()" type="submit" id="loginSubmit">Sign Up</button>
        
        <a onmouseover="changeSignUpBackButton()" onmouseout="resetSignUpBackButton()" href="{% url 'login' %}" id="signUpBack">Back</a>
        
    </form>
</div>
</body>
</html>

{% endblock %}

{% block title %}
    <title>Nowledge | Sign Up</title>
{% endblock %}
