@font-face {
    font-family: "Ubuntu";
    src: url("../../static/fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu-N";
    src: url("../../static/fonts/Ubuntu-Regular.ttf") format("truetype");
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    align-content: center;
}

.col-sm-2{
    background-color: #C4C4C4;
    height: 100vh;
    width: 5vw;
    padding-right: 1px;
    padding-left: 1px;
}

#title{
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Ubuntu';
    margin-bottom: 5vh;
}

#sideBarMain{
    height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 18vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #c4c4c4; /* Black */
  overflow-y: auto;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

#mainStage{
    width: 82vw;
    margin-left: 18vw;
    padding-left: 20px;
    padding-right: 20px;
}

#tabsHome, #tabsBooks, #tabsAcc, #tabsLogin, #tabsBorrowed, #tabsModifyBooks, #tabsModifyBooksIns, #tabsModifyAuthors, #tabsModifyGenres, #tabsModifyLangs{
    padding-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 24px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

#sideBarButtonHome, #sideBarButtonBooks, #sideBarButtonAcc, #sideBarButtonLogin, #sideBarButtonBorrowed, #sideBarButtonModifyBooks, #sideBarButtonModifyBooksIns, #sideBarButtonModifyAuthors, #sideBarButtonModifyGenres, #sideBarButtonModifyLangs{
    color: #363636;
    width: 200px;
    text-decoration: none;
}

#titleStaff{
    font-weight: bold;
    font-family: "Ubuntu";
    font-size: 24px;
    padding-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#center{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 25vh;
    max-width: 25vw;
}

#icon{
    display: block;
    margin: auto;
}

#welcome{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#userTitle{
    display: inline;
    color: #407EAA;
}

#row{
    height: 23vh;
    width: auto;
    background-color: #407eaa;
    list-style-type: none;
    margin:  3vh 2vw 0vh 2vw;
    display: flex;
}

#cont{
    padding-left: 0px;
}

#rowHeader{
    width: 10%;
    padding-top: 4%;
    background-color: #c4c4c4;
    height: 100%;
}

#rowTitle{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: "Ubuntu";
    color: #363636;
}

#desc{
    padding: 15px 15px 15px 15px;
    color: whitesmoke;
    font-size: 20px;
    width: 90%;
    text-align: justify;
    height: fit-content;
    padding-top: 4%;
}

#stats{
    padding: 15px 15px 15px 15px;
    color: whitesmoke;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    list-style-type: none;
    width: 90%;
    text-align: center;
    height: fit-content;
    padding-top: 4%;
    font-weight: bold;
    font-size: 24px;
}

#numbers{
    font-size: 36px;
    
}

#bookButtonsUser{
    padding: 15px 15px 15px 15px;
    color: whitesmoke;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style-type: none;
    width: 90%;
    text-align: center;
    height: fit-content;
    padding-top: 4%;
    font-weight: bold;
    font-size: 24px;
}

#bookButtonsGuest{
    padding: 15px 15px 15px 15px;
    color: whitesmoke;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    list-style-type: none;
    width: 90%;
    text-align: center;
    height: fit-content;
    padding-top: 4%;
    font-weight: bold;
    font-size: 24px;
}

#booksRE{
    text-decoration: none;
    color: whitesmoke;
}

#iconB{
    padding-bottom: 1vh;
    display: block;
    margin: auto;
}

#loginTitle{
    font-size: 40px;
    font-weight: bold;
    font-family: "Ubuntu";
    color: #407EAA;
}

#loginDesc{
    font-size: 18px;
    font-weight: normal;

}

#id_username, #id_password, #id_password1, #id_password2, #id_new_password1, #id_new_password2, #id_email, #id_idno, #id_first_name, 
#id_last_name, #id_question, #id_answer, #id_given_name, #id_date_of_birth, #id_date_of_death, #id_title, #id_author, #id_genre, 
#id_summary, #id_language, #id_publisher, #id_isbn, #id_date_added_to_library, #id_book, #id_borrower, #id_due_back, #id_date_added,
#id_name{
    width: 15vw;
    margin-bottom: 2vh;
    height: 35px;
    border-style: solid;
    padding-left: 10px;
    background-color: rgb(214, 214, 214);
    border-color: #C4C4C4;
}

#id_genre{
    height: 100px;
}

#id_summary{
    height: 200px;
}

#labels{
    text-align: left;
    padding-left: 5.5vw;
    padding-bottom: 0.5vh;
    font-size: 18px;
}

#loginSubmit{
    margin-top: 2vh;
    width: 8vw;
    height: 40px;
    background-color: #407EAA;
    border-style: none;
    font-family: "Ubuntu";
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}

#profileTitle{
    font-weight: bold;
    font-family: "Ubuntu-N";
    margin-top: 2vh;
    margin-left: 1vw;
}

#profileTitleName{
    color: #407EAA;
    display: inline;
}

#profileInfoList{
    list-style-type: none;
    padding: 15px 15px 15px 15px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    width: 90%;
    text-align: left;
    height: fit-content;
}

#profileButtonsPass, #profileButtonsLogout, #modifyAddButton{
    background-color: #407EAA;
    padding: 15px 15px 15px 15px;
    height: 40px;
    width: 5vw;
    color: whitesmoke;
    text-decoration: none;
    margin: 20px 15px 20px 15px;
    font-family: "Ubuntu";
    border-radius: 5px;
}

#profileBooksList{
    list-style-type: none;
    padding: 15px 15px 15px 15px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    width: 90%;
    text-align: left;
    height: fit-content;
}

#profileReviews{
    padding: 15px 15px 15px 15px;
    text-align: left;
    width: 90%;
    margin-bottom: 5vh;


}

#profileBorrowed, #profileReturned, #profileScroll{
    overflow: auto;
    height: 25vh;
}

#centerSignUp{
    display: block;
    margin: auto;
    text-align: left;
    max-width: 40vw;
    margin-top: 10vh;
}

.errorlist{
    color: red;
}

#signUpTitle{
    color: #407EAA;
    font-family: "Ubuntu";
    font-size: 40px;
}

#signUpLabels{
    font-size: 18px;
}

#signUpBack{
    background-color: #407EAA;
    padding: 11px 20px 11px 20px;
    height: 40px;
    width: 5vw;
    color: whitesmoke;
    text-decoration: none;
    margin: 20px 15px 20px 15px;
    font-family: "Ubuntu";
    border-radius: 5px;

}

#centerReset{
    display: block;
    margin: auto;
    text-align: left;
    max-width: fit-content;
    margin-top: 30vh;
}

#resetSubmit{
    width: 6vw;
    height: 40px;
    background-color: #407EAA;
    border-style: none;
    font-family: "Ubuntu";
    color: whitesmoke;
    border-radius: 5px;
}

#modifyAddButton{
margin: 20px 20px 20px 20px;
}

#modifyTable{
    margin-top: 30px;
    font-family: "Ubuntu-N";
    font-size: 18px;
}

#modifyTitle{
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: "Ubuntu";
}

#modifyCol1, #modifyCol2{
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#modifyUpdate, #modifyDelete{
    background-color: #407EAA;
    padding: 10px 10px 10px 10px;
    height: 40px;
    width: 5vw;
    color: whitesmoke;
    text-decoration: none;
    /* margin: 20px 15px 20px 15px; */
    margin-right: 10px;
    font-family: "Ubuntu";
    border-radius: 5px;
}

#detailCopies{
    margin-left: 20px;
    margin-top: 20px;
}

#detailSummary{
    margin-left: 15px;
}

#detailBorrow{
    width: 8vw;
    height: 40px;
    background-color: #407EAA;
    border-style: none;
    font-family: "Ubuntu";
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}