<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/errorStyles.css' %}">
</head>

<body id="errorBody">   
    <p id="error">Forbidden Access</p>
    <p id="errorLower">You do not have the permission to access this page.</p>
    <a id="errorBack" href="{% url 'index' %}">Go Back Home</a>
</body>

</html>