{% extends "base_generic.html" %}

{% block content %}
<div id="centerSignUp">
    <h1 id="signUpTitle">Modify Author</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <div id="signUpLabels">{{ form.given_name.label_tag }}</div>
                        {{ form.given_name }}
                        {{ form.given_name.errors }}
                    </div>
                    <div>
                        <div id="signUpLabels">{{ form.last_name.label_tag }}</div>
                        {{ form.last_name }}
                        {{ form.last_name.errors }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <div id="signUpLabels">{{ form.date_of_birth.label_tag }}</div>
                        {{ form.date_of_birth }}
                        {{ form.date_of_birth.errors }}
                    </div>
                    <div>
                        <div id="signUpLabels">{{ form.date_of_death.label_tag }}</div>
                        {{ form.date_of_death }}
                        {{ form.date_of_death.errors }}
                    </div>
                </div>
            </div>
        </div>
        <input onmouseover="changeLoginButton()" onmouseout="resetLoginButton()" type="submit" value="Submit" id="loginSubmit">
        <a onmouseover="changeSignUpBackButton()" onmouseout="resetSignUpBackButton()" href="{% url 'author_modify' %}" id="signUpBack">Cancel</a>
    </form>
</div>
    
{% endblock %}

{% block title %}
    <title>Nowledge | Modify Author</title>
{% endblock %}