{% extends "base_generic.html" %}

{% block content %}
  <h1 id="modifyTitle">Modify Authors</h1>
  <a onmouseover="changeModifyAddButton()" onmouseout="resetModifyAddButton()" id="modifyAddButton" href="{% url 'author_create' %}">Add Author</a>
  {% if author_list %}
  <table id="modifyTable">
    <tr>
      <th>Author Name</td>
    </tr>
    {% for author in author_list %}
    <tr>
      <td id="modifyCol1"><a href="{% url 'author-detail' author.pk %}">{{ author.given_name }} {{ author.last_name }}</a></td>    
      <td><a id="modifyUpdate" href="{% url 'author_update' author.pk %}">Update</a></td>
      <td><a id="modifyDelete" href="{% url 'author_delete' author.pk %}">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
    
  {% else %}
  <br>
  <br>
    <p>There are no authors in the library.</p>
  {% endif %}       
{% endblock %}

{% block title %}
    <title>Nowledge | Modify Author</title>
{% endblock %}