{% extends "base_generic.html" %}

{% block content %}
<br>
<h1 id="signUpTitle">{{ author.last_name }}, {{ author.given_name }}</h1>
<hr>

<ul id="profileInfoList">
    <li>
        <h5><strong>Born:</strong> {{ author.date_of_birth }}</h5>
        <h5><strong>Died:</strong> {{ author.date_of_death }}</h5>
    </li>
    <li>
        <br>
    </li>
    <li>
        <br>
        <br>
    </li>
    <li>
        <br>
    </li>
</ul>

<div id="detailCopies">
    <h4>Books</h4>

    {% for copy in author.book_set.all %}
    <hr>
    <p><strong><a href="{% url 'book-detail' copy.pk %}">{{ copy.title }}</a></strong></p>
    <p></p>{{ copy.summary }}</p>
    {% endfor %}
</div>
{% endblock %}