{% extends "base_generic.html" %}

{% block content %}
<h1 id="modifyTitle">Library Books</h1>
{% if book_list %}
<table id="modifyTable">
  <tr>
    <th>Book Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Language</th>
  </tr>
  {% for book in book_list %}
  <tr>
    <td id="modifyCol1"><a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a></td>
    <td id="modifyCol2"><a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></td>
    <td id="modifyCol2">{{ book.genre.all|join:", " }}</td>
    <td id="modifyCol2">{{ book.language }}</td>
  </tr>
  {% endfor %}
</table>

{% else %}
<br>
<br>
<p>There are no books in the library.</p>
{% endif %}
{% endblock %}

{% block title %}
<title>Nowledge | Library Books</title>
{% endblock %}