{% extends "base_generic.html" %}

{% block content %}
<br>
<h1 id="signUpTitle">{{ book.title }}</h1>
<hr>

<ul id="profileInfoList">
    <li>
        <h5><strong>Author:</strong> <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></h5>
        <h5><strong>Genre:</strong> {{ book.genre.all|join:", " }}</h5>
    </li>
    <li>
        <h5><strong>Language:</strong> {{ book.language }}</h5>
        <h5><strong>ISBN:</strong> {{ book.isbn }}</h5>
    </li>
    <li>
        <br>
        <br>
    </li>
    <li>
        <br>
    </li>
</ul>
<h5 id="detailSummary"><strong>Summary:</strong> {{ book.summary }}</h5>

<div id="detailCopies">
    <hr>
    <h3>Reviews</h3>
    {% for review_set in book.review_set.all %}
    <hr>
    <p><strong>User: </strong>{{review_set.user}}</p>
    <p><strong>Rating: </strong>{{review_set.rating}}</p>
    <p><strong>Review: </strong>{{review_set.review}}</p>
    {% endfor %}
    <br>
    <hr>

    <h3>Copies</h3>
    <br>
    {% for copy in book.bookinstance_set.all %}

    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'r' %}text-danger{% else %}text-warning{% endif %}">
        <strong>Status:</strong> {{ copy.get_status_display }}
    </p>
    {% if copy.status != 'a' %}
    <p><strong>Due to be returned: </strong> {{ copy.due_back }}</p>
    {% elif copy.status == 'a' %}
    <input type="button" value="Borrow" name="_borrow" id="detailBorrow">
    <br>
    <br>
    {% endif %}


    <p><strong>Imprint: </strong>{{ copy.book.publisher }}</p>
    <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    <hr>
    {% endfor %}

</div>
{% endblock %}

{% block title %}
<title>Nowledge | Book Details</title>
{% endblock %}