{% extends "base_generic.html" %}

{% block content %}
{% if not perms.catalog.can_mark_returned %}
    <h1 id="profileTitle"><div id="profileTitleName">{{ user.get_username }}'s</div> Profile Page</h1>
    <ul id="profileInfoList">
        <li>
            <h5>First Name: {{ user.profile.first_name }}</h5>
            <h5>Last Name: {{ user.profile.last_name }}</h5>
        </li>
        <li>
            <h5>Email: {{ user.profile.email }}</h5>
            <h5>ID: {{ user.profile.idno }}</h5>
        </li>
        <li>
            <br>
            <br>
        </li>
        <li>
            <br>
        </li>
    </ul>

    <ul id="profileBooksList">
        <li>
            <h1>Borrowed Books</h1>
            <div id="profileBorrowed">
                
                {% if bookinstance_list %}
                <ul>
                    {% for bookinst in bookinstance_list %}
                        {% if user.get_username == bookinst.borrower.username %}
                        <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                            <a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a> ({{ bookinst.due_back }})
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            
                {% else %}
                    <p>You haven't borrowed any books.</p>
                {% endif %}
            </div>
            
        </li>
        <li>
            <h1>Returned Books</h1>
            <div id="profileReturned">
                

                {% if bookinstance_list %}
                <ul>
                    {% for bookinst in bookinstance_list %}
                    {% if user.get_username == bookinst.borrower.username %}
                        <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                            <a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a> ({{ bookinst.due_back }})
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            
                {% else %}
                    <p>You haven't returned any books.</p>
                {% endif %}
            </div>
            
        </li>
    </ul>
    
    <div id="profileReviews">
        <h1>Reviews</h1>
        <div id="profileScroll">
            {{review.review}}
            {% if reviews_list %}
            <ul>
                {% for review in reviews_list %}
                <li>
                    <p><strong>Book: </strong>{{review.book.title}}</p>
                    <p><strong>Rating: </strong>{{review.rating}}</p>
                    <p><strong>Review: </strong>{{review.review}}</p>
                </li>
                {% endfor %}
            </ul>
        
            {% else %}
                <p>You have no book reviews posted.</p>
            {% endif %}
        </div>
        
    </div>
    

    <a onmouseover="changeProfilePassButton()" onmouseout="resetProfilePassButton()" href="{% url 'change-password' %}" id="profileButtonsPass">Change Password</a>

    <a onmouseover="changeProfileLogoutButton()" onmouseout="resetProfileLogoutButton()" href="{% url 'logout' %}" id="profileButtonsLogout">Logout</a>

    {% else %}
  <p id="error">Forbidden Access</p>
  <p id="errorLower">You do not have the permission to access this page.</p>
  <a id="errorBack" href="{% url 'index' %}">Go Back Home</a>
{% endif %}
{% endblock %}

{% block title %}
    <title>Nowledge | Profile</title>
{% endblock %}