{% extends "base_generic.html" %}

{% block content %}
<h1><strong>{{book.title}}</strong></h1>
<form method = "post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <div>
        <div id="signUpLabels">{{ form.rating.label_tag }} Scale: 1-100</div>
        {{ form.rating }}
        {{ form.rating.errors }}
    </div>
    <div>
        <div id="signUpLabels">{{ form.review.label_tag }}</div>
        {{ form.review }}
        {{ form.review.errors }}
    </div>
    <button type="submit" id="loginSubmit">Add Comment</button>

</form>
{% endblock %}